.contenedor{
  border: #e1bee7;
  background-color: #fff1ff;
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-template-rows: repeat(3, 150px);
  grid-auto-flow: column;
  gap: 20px;
}

.item{
  border: 5px solid #00bcd4;
  font-size: 4rem;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}